{% extends 'profile/base.html.twig' %}

{% set current_item = 'index' %}

{% block pageContent %}
    <fieldset>
        <legend>{{ 'profile.general'|trans }}</legend>
        
        <p class="text-secondary">{{ 'profile.general.description'|trans }}</p>

        {{ form_start(form) }}

            {% include 'flashMessages.html.twig' %}
            
            <div class="form-group">
                <label>{{ 'profile.field.username'|trans }}</label>
                <input type="text" class="form-control" value="{{user.login}}" readonly>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.nome) }}
                </div>
                <div class="col-md-8">
                    {{ form_row(form.sobrenome) }}
                </div>
            </div>

            {{ form_row(form.email) }}

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i>
                {{ 'button.update'|trans }}
            </button>
        {{ form_end(form) }}
    </fieldset>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
